<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Dashboard | MyUniversity</title>
        <link rel="shortcut icon" href="/static/logo.png"/>
        <link rel="stylesheet" href="../static/styles/style.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    </head>
    <body>
        <nav class="navbar navbar-expand-sm">
            <a class="navbar-brand" href="/loggedin"><img src="../static/MyUniversity-logo.png" alt="logo" style="height:40px; margin-right:10px;">MyUniversity</a>
            <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                 <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <button onclick="window.location.href = '/dashboard_teacher';">Dashboard</button>
                    </li>
                    <li class="nav-item">
                        <button onclick="window.location.href = '/logout';">Logout</button>
                    </li>
                </ul>
            </div>
        </nav>
        <section>
            <div class="dashboardPage">
                <div class="dashboardHeader">
                    <h1>Teacher Dashboard</h1>
                </div>
                <div class="dashboardInformation">
                    <div class="tab-teacher">
                        <button class="tablinks" onclick="openTab(event, 'Personal Information')" id="defaultOpen">Personal Information</button>
                        <button class="tablinks" onclick="openTab(event, 'Office Hours')" id="defaultOpen">Office Hours</button>
                        <button class="tablinks" onclick="openTab(event, 'Map')" id="defaultOpen">SJSU Google Map</button>
                        <button class="tablinks" onclick="openTab(event, 'Google Calendar')">Google Calendar</button>
                        <button class="tablinks" onclick="openTab(event, 'Weather')">DarkSky Weather</button>
                        <button class="tablinks" onclick="openTab(event, 'News')">SJSU News</button>
                    </div>
                    <div id="Personal Information" class="tabcontent">
                        <div class="personalInformationHeader">
                            <div class="left">
                            <h2>Personal Information</h2>
                            </div>
                        </div>
                        <div style="clear:both;"></div>
                        <table>
                            <tr>
                                <td class="identifier">Teacher ID: </td>
                                <td>{{dbuserinfo['teacher_id']}}</td>
                            </tr>
                            <tr>
                                <td class="identifier">Name: </td>
                                <td>{{dbuserinfo['first_name']}} {{dbuserinfo['last_name']}}</td>
                            </tr>
                            <tr style="padding-bottom: 20px;">
                                <td class="identifier">Phone Number: </td>
                                <td>{{dbuserinfo['phone']}}</td>
                            </tr>
                        </table>
                    </div>
                    <div id="Office Hours" class="tabcontent">
                        <h2>Office Hours</h2>
                        <table>
                          <tr>
                              <td class="identifier">Room: </td>
                              <td>{{dbuserinfo['building']}} {{dbuserinfo['room_id']}}</td>
                          </tr>
                        </table>
                    </div>
                    <div id="Map" class="tabcontent">
                        <h3>SJSU Map</h3>
                        <!--The div element for the map -->
                        <div id="map"></div>
                        <script>
                          // Initialize and add the map
                          function initMap() {
                            // The location of Uluru
                            var sjsu = {lat: 37.3357807, lng: -121.8821639};
                            // The map, centered at Uluru
                            var map = new google.maps.Map(
                                document.getElementById('map'), {zoom: 15, center: sjsu});
                            // The marker, positioned at Uluru
                            var marker = new google.maps.Marker({position: sjsu, map: map});
                          }
                        </script>
                        <!--Load the API from the specified URL
                        * The async attribute allows the browser to render the page while the API loads
                        * The key parameter will contain your own API key (which is not needed for this tutorial)
                        * The callback parameter executes the initMap() function
                        -->
                        <script async defer
                        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDfGOsj5KxN0K3VAE44YHFw7KMbg_6nWLw&callback=initMap">
                        </script>
                    </div>
                    <div id="Google Calendar" class="tabcontent">
                        <h2>Calendar</h2>
                        <!--Add buttons to initiate auth sequence and sign out-->
                        <button id="authorize_button" style="display: none;">Authorize</button>
                        <button id="signout_button" style="display: none;">Sign Out</button>

                        <pre id="content" style="white-space: pre-wrap;"></pre>

                        <script type="text/javascript">
                          // Client ID and API key from the Developer Console
                          var CLIENT_ID = '332254517629-g1f6nvugh133ipopoqmg2240lpnv6bqd.apps.googleusercontent.com';
                          var API_KEY = 'AIzaSyDfGOsj5KxN0K3VAE44YHFw7KMbg_6nWLw';

                          // Array of API discovery doc URLs for APIs used by the quickstart
                          var DISCOVERY_DOCS = ["https://www.googleapis.com/discovery/v1/apis/calendar/v3/rest"];

                          // Authorization scopes required by the API; multiple scopes can be
                          // included, separated by spaces.
                          var SCOPES = "https://www.googleapis.com/auth/calendar.readonly";

                          var authorizeButton = document.getElementById('authorize_button');
                          var signoutButton = document.getElementById('signout_button');

                          /**
                           *  On load, called to load the auth2 library and API client library.
                           */
                          function handleClientLoad() {
                            gapi.load('client:auth2', initClient);
                          }

                          /**
                           *  Initializes the API client library and sets up sign-in state
                           *  listeners.
                           */
                          function initClient() {
                            gapi.client.init({
                              apiKey: API_KEY,
                              clientId: CLIENT_ID,
                              discoveryDocs: DISCOVERY_DOCS,
                              scope: SCOPES
                            }).then(function () {
                              // Listen for sign-in state changes.
                              gapi.auth2.getAuthInstance().isSignedIn.listen(updateSigninStatus);

                              // Handle the initial sign-in state.
                              updateSigninStatus(gapi.auth2.getAuthInstance().isSignedIn.get());
                              authorizeButton.onclick = handleAuthClick;
                              signoutButton.onclick = handleSignoutClick;
                            }, function(error) {
                              appendPre(JSON.stringify(error, null, 2));
                            });
                          }

                          /**
                           *  Called when the signed in status changes, to update the UI
                           *  appropriately. After a sign-in, the API is called.
                           */
                          function updateSigninStatus(isSignedIn) {
                            if (isSignedIn) {
                              authorizeButton.style.display = 'none';
                              signoutButton.style.display = 'block';
                              listUpcomingEvents();
                            } else {
                              authorizeButton.style.display = 'block';
                              signoutButton.style.display = 'none';
                            }
                          }

                          /**
                           *  Sign in the user upon button click.
                           */
                          function handleAuthClick(event) {
                            gapi.auth2.getAuthInstance().signIn();
                          }

                          /**
                           *  Sign out the user upon button click.
                           */
                          function handleSignoutClick(event) {
                            gapi.auth2.getAuthInstance().signOut();
                          }

                          /**
                           * Append a pre element to the body containing the given message
                           * as its text node. Used to display the results of the API call.
                           *
                           * @param {string} message Text to be placed in pre element.
                           */
                          function appendPre(message) {
                            var pre = document.getElementById('content');
                            var textContent = document.createTextNode(message + '\n');
                            pre.appendChild(textContent);
                          }

                          /**
                           * Print the summary and start datetime/date of the next ten events in
                           * the authorized user's calendar. If no events are found an
                           * appropriate message is printed.
                           */
                          function listUpcomingEvents() {
                            gapi.client.calendar.events.list({
                              'calendarId': 'primary',
                              'timeMin': (new Date()).toISOString(),
                              'showDeleted': false,
                              'singleEvents': true,
                              'maxResults': 10,
                              'orderBy': 'startTime'
                            }).then(function(response) {
                              var events = response.result.items;
                              appendPre('Upcoming events:');

                              if (events.length > 0) {
                                for (i = 0; i < events.length; i++) {
                                  var event = events[i];
                                  var when = event.start.dateTime;
                                  if (!when) {
                                    when = event.start.date;
                                  }
                                  appendPre(event.summary)
                                }
                              } else {
                                appendPre('No upcoming events found.');
                              }
                            });
                          }

                        </script>

                        <script async defer src="https://apis.google.com/js/api.js"
                          onload="this.onload=function(){};handleClientLoad()"
                          onreadystatechange="if (this.readyState === 'complete') this.onload()">
                        </script>
                    </div>
                    <div id="Weather" class="tabcontent">
                        <h1>SJSU Weather</h1>
                        <table>
                            <tr>
                                <td class="identifier">Summary: </td>
                                <td>{{weather['daily']['summary']}}</td>
                            </tr>
                            <tr>
                                <td class="identifier">Sky is: </td>
                                <td>{{weather['currently']['summary']}}</td>
                            </tr>
                            <tr>
                                <td class="identifier">Chance of Rain: </td>
                                <td>{{weather['currently']['precipProbability']}}</td>
                            </tr>
                            <tr>
                                <td class="identifier">Temperature: </td>
                                <td>{{weather['currently']['temperature']}}</td>
                            </tr>
                            <tr>
                                <td class="identifier">Wind Speed: </td>
                                <td>{{weather['currently']['windSpeed']}} MPH</td>
                            </tr>
                        </table>
                        <h6>Brought to you by DarkSky Weather API</h6>
                    </div>
                    <div id="News" class="tabcontent">
                        <h1>SJSU News</h1>
                        <table style="width:100%">
                          <tr>
                              <th>Title</th>
                              <th>Author</th>
                              <th>From</th>
                          </tr>
                            {%for article in news['articles']%}
                                <tr>
                                    <td> <img src="{{article['urlToImage']}}" alt="" width=50>    <a href="{{article['url']}}">{{article['title']}}</a></td>
                                    <td>{{article['author']}}</td>
                                    <td>{{article['source']['name']}}</td>
                                </tr>
                            {%endfor%}
                        </table>
                        <h6>Brought to you by newsapi.org</h6>
                    </div>
                </div>
            </div>
        </section>
        <footer>
        </footer>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="../static/js/fullpage.js"></script>
        <script>
            document.getElementById("defaultOpen").click();
            function openTab(evt, tabName) {
                var i, tabcontent, tablinks;
                tabcontent = document.getElementsByClassName("tabcontent");

                for (i = 0; i < tabcontent.length; i++) {
                    tabcontent[i].style.display = "none";
                }

                tablinks = document.getElementsByClassName("tablinks");

                for (i = 0; i < tablinks.length; i++) {
                    tablinks[i].className = tablinks[i].className.replace(" active", "");
                }

                document.getElementById(tabName).style.display = "block";
                evt.currentTarget.className += " active";
            }
            function myFunction() {
                var x = document.getElementById("myInput");

                if (x.type === "password") {
                    x.type = "text";
                }
                else {
                    x.type = "password";
                }
            }
        </script>
    </body>
</html>
