<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>MyUniversity</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/styles/style.css">
        <link rel="stylesheet" href="../static/styles/fullpage.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <!-- Navbar -->
        <nav class="navbar navbar-expand-sm">
            <a class="navbar-brand" href="/index.html"><img src="../static/MyUniversity-logo.png" alt="logo" style="height:40px; margin-right:10px;">MyUniversity</a>
            <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link 1</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link 2</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link 3</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link 4</a>
                    </li>
                </ul>
            </div>
        </nav>

        <!-- Header -->
        <div id="fullpage">
            <div class="section">
                <div class="section-1">
                    <img src="../static/logo.png" height="150" width="150"/>
                    <h1>MyUniversity</h1>
                    <button onclick="window.location.href = '/login';">Login or Sign-Up</button>
                </div>
            </div>
            <div class="section">
                <div class="section-2">
                    <div class="two-third">
                        <h2>Tired of the current MySJSU Portal?</h2>
                        <h3>
                            <ul>
                                <li>Are you tired of pressing the back button by accident and crashing your entire computer?</li>
                                <li>Are you tired of feeling like you stumbled upon a website made in the 1990s?</li>
                                <li>Are you tired of basically not being able to use the site on your phone?</li>
                            </ul>
                        </h3>
                    </div>
                    <div class="one-third">
                        <i class="fa fa-book w3-text-white"></i>
                    </div>
                </div>
            </div>
            <div class="section">
                <div class="section-3">
                    <div class="one-third">
                        <i class="fa fa-laptop"></i>
                    </div>
                    <div class="two-third">
                        <h2>WELL FEAR NO MORE!!!</h2>
                        <h3>Our website is nice, clean, and cozy. You'll feel right at home using our website. You can do all the things MySJSU can do... such as: sign up, log in, log out, log in again, look at and update your personal information, and sign up for classes. ISN't tHaT aMAZZinG???!!</h3>
                    </div>
                </div>
            </div>
            <div class="section">
                <div class="section-4">
                    <h4>Quote of the Day</h4>
                    <h5>"You should have gone for the head"</h5>
                    <h5>- Thanos</h5>
                </div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="../static/js/fullpage.js"></script>
        <script>
            // Used to toggle the menu on small screens when clicking on the menu button
            function myFunction() {
                var x = document.getElementById("navDemo");
                if (x.className.indexOf("w3-show") == -1) {
                    x.className += " w3-show";
                } else {
                    x.className = x.className.replace(" w3-show", "");
                }
            }
            new fullpage('#fullpage', {
                sectionsColor: ['#fff', '#025ca0', '#f1f1f1', '#727373'],
            });
        </script>
</body>
</html>
