/** GENERAL **/
* {
	margin:0;
	padding:0;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-font-smoothing:antialiased;
	-moz-font-smoothing:antialiased;
	-o-font-smoothing:antialiased;
	font-smoothing:antialiased;
	text-rendering:optimizeLegibility;
}
.section {
    text-align: center;
}


/** NAVIGATION **/
.navbar {
    background-color: #025ca0!important;
    font-family: 'Lato', sans-serif;
    font-size: 1.25em;
    position:absolute;
    z-index: 999;
}
.navbar-nav {
    text-align: center;
}
nav a {
    color: white;
}
nav a:hover {
    font-weight: 600;
    color: white;
}
.custom-toggler.navbar-toggler {
    border-color: rgb(255,255,255);
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.nav-item button {
    background-color: #025ca0;
    color: #fff;
    font-family: 'Lato', sans-serif;
    border: none;
    margin: 0 15px;
    width: auto;
}
.nav-item button:hover {
    font-weight: 600;
}


/** HOME PAGE **/
.content {
    margin-top: -100px;
}
.section-1 h1 {
    text-align: center;
    font-family: 'Lato', sans-serif;
    margin: 20px 0 10px 0;
    letter-spacing: 0.5px;
}
.section-1 p {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    margin-bottom: 25px;
}
.section-1 button {
    width: 30%; 
    display: block;
    margin: 0 auto;
    border: none;
    background-color: #025ca0;
    color: #FFF;
    font-family: 'Lato', sans-serif;
    font-size: 20px; 
    text-transform: uppercase;
    padding: 10px;
    letter-spacing: 0.75px;
}
.section-1 button:hover {
    background-color: #024e88;
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}
.two-third {
    text-align: left;
    width: 55%;
    display: inline-block;
}
.section-2 h2, .section-3 h2 {
    color: #fff;
    font-size: 40px;
    margin-bottom: 30px;
    font-family: "Montserrat", sans-serif;
}
.section-3 h2 {
    color: #000;
}
.section-2 p, .section-3 p {
    color: #fff;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
}
.section-3 p {
    color: #000;
}
.one-third {
    width: 25%;
    display: inline-block;
}
.section-2 .fa-book {
    font-size: 200px
}
.section-3 .fa-laptop {
    font-size: 200px;
    color: #025ca0;
}
.section-4 h4 {
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-size: 50px;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.section-4 h5 {
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
}
button.loggedIn {
    width: 20%;
    display: inline-block;
    margin: 0 10px;
}


/** FULLPAGE FADE EFFECT **/
/** section one **/
@keyframes drop-down {
    from {
        transform: translateY(-1000px);
        opacity: 0;
        transition: transform .66s cubic-bezier(0.16, 0.68, 0.43, 0.99), opacity .66s ease-in-out;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
.section-1 img {
    animation-name: drop-down;
    animation-duration: 1.5s;
}
.section-1 h1, .section-1 p {
    animation-name: drop-down;
    animation-duration: 1s;
}
.section-1 button {
    animation-name: drop-down;
    animation-duration: .50s;
}
.section-1 > .fp-tableCell img,
.section-1 > .fp-tableCell h1,
.section-1 > .fp-tableCell p,
.section-1 > .fp-tableCell button {
    transform: translateY(-1000px);
	opacity: 0;
	transition: transform .66s cubic-bezier(0.16, 0.68, 0.43, 0.99), opacity .66s ease-in-out;
}
.section-1.active > .fp-tableCell img,
.section-1.active > .fp-tableCell h1,
.section-1.active > .fp-tableCell p,
.section-1.active > .fp-tableCell button {
    transform: translateY(0);
	opacity: 1;
}
.section-1.active > .fp-tableCell img {
    transition-delay: .44s;
}
.section-1.active > .fp-tableCell h1,
.section-1.active > .fp-tableCell p {
    transition-delay: .22s;
}
.section-1.active > .fp-tableCell button {
    transition-delay: 0s;
}
/** section two **/
.section-2 > .fp-tableCell h2,
.section-2 > .fp-tableCell p,
.section-2 > .fp-tableCell i {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
.section-2.active > .fp-tableCell h2,
.section-2.active > .fp-tableCell p,
.section-2.active > .fp-tableCell i {
    opacity: 1;
}
.section-2.active > .fp-tableCell p {
    transition-delay: 0.15s;
}
.section-2.active > .fp-tableCell p + p {
    transition-delay: 0.30s;
}
.section-2.active > .fp-tableCell p + p + p{
    transition-delay: 0.45s;
}
/** section three **/
.section-3 > .fp-tableCell h2,
.section-3 > .fp-tableCell p,
.section-3 > .fp-tableCell i {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
.section-3.active > .fp-tableCell h2,
.section-3.active > .fp-tableCell p,
.section-3.active > .fp-tableCell i {
    opacity: 1;
}
.section-3.active > .fp-tableCell p {
    transition-delay: 0.15s;
}
.section-3.active > .fp-tableCell p + p {
    transition-delay: 0.30s;
}
.section-3.active > .fp-tableCell p + p + p{
    transition-delay: 0.45s;
}
/** section four **/
.section-4 > .fp-tableCell h4 {
    transform: translateY(-1000px);
	opacity: 0;
	transition: transform .8s cubic-bezier(0.16, 0.68, 0.43, 0.99), opacity .8s ease-in-out;
}
.section-4.active > .fp-tableCell h4 {
    transform: translateY(0);
	opacity: 1;
}
.section-4 > .fp-tableCell h5 {
    transform: translateX(100%);
	opacity: 0;
	transition: transform .8s cubic-bezier(0.16, 0.68, 0.43, 0.99), opacity .8s ease-in-out;
}
.section-4 > .fp-tableCell h5 + h5 {
    transform: translateX(-100%);
}
.section-4.active > .fp-tableCell h5 {
	transform: translateX(0);
	opacity: 1;
}
.section-4.active > .fp-tableCell h5 {
	transition-delay: .2s;
}
.section-4.active > .fp-tableCell h5 + h5 {
	transition-delay: .4s;
}


/** DASHBOARD PAGE **/
.dashboardPage {
    margin: 50px auto 0 auto;
    width: 75%;
    display: block;
}
.dashboardHeader {
    margin: 10px;
    margin-bottom: 20px;
}
.dashboardPage h1 {
    font-size: 26px;
    font-weight: 600;
    color: #000;
    letter-spacing: 0.5px;
    font-family: 'Lato', sans-serif;
}
.dashboardInformation {
    margin: 10px;
}
.dashboardPage .tab {
    overflow: hidden;
    border: 1px solid #757575;
    background-color: #f1f1f1;
}
.dashboardPage .tab button {
    font-family: 'Lato', sans-serif;
    background-color: inherit;
    text-transform: uppercase;
    letter-spacing: 0.25px;
    padding: 10px 0;
    width: 25%;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
}
.dashboardPage .tab button:hover {
    background-color: #ccc;
}
.dashboardPage .tab button.active {
    background-color: #ccc;
}
.dashboardPage .tabcontent {
    display: none;
    padding: 15px;
    border: 1px solid #757575;
    border-top: none;
}
.dashboardPage h2 {
    font-size: 20px;
    color: #757575;
    font-weight: 600;
    letter-spacing: 0.25px;
    margin-bottom: 20px;
    font-family: "Montserrat", sans-serif;
}
.dashboardPage th {
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.25px;
    padding-bottom: 5px;
}
.dashboardPage th.section-1 {
    width: 30%;
}
.dashboardPage th.section-2 {
    width: 30%;
}
.dashboardPage th.section-3 {
    width: 40%;
}
.dashboardPage td.identifier {
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    padding-right: 20px;
    padding-bottom: 15px;
}
.dashboardPage td {
    font-family: 'Lato', sans-serif;
    padding-bottom: 15px;
}
.dashboardPage a {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}
.dashboardPage a:hover {
    text-decoration: none;
    color: #025ca0;
    transition: 0.3s;
}
.dashboardPage .left {
    float: left;
}
.dashboardPage .right {
    float: right;
}
.dashboardPage hr {
    margin-bottom: 30px;
}
.dashboardPage input {
    border: none;
}
.dashboardPage tr.pwToggler {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
}
.dashboardPage input[type="checkbox"] {
    margin-right: 10px;
}


/** EDIT PAGE **/
.editPage {
    margin: 50px auto 0 auto;
    width: 75%;
    display: block;
}
.editPage h1 {
    font-size: 26px;
    font-weight: 600;
    color: #000;
    letter-spacing: 0.5px;
    font-family: 'Lato', sans-serif;
    margin: 10px;
}
.editPage form {
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    border: 1px solid #757575;
    margin: 20px 10px 10px 10px;
    text-align: center;
}
.editPage label {
    display: inline-block;
    margin-bottom: 20px;
    margin-right: 10px;
    width: 150px;
    text-align: right;
    color: #000;
}
.editPage fieldset {
    display: inline-block;
    margin-bottom: 20px;
}
.editPage input {
    width: 500px;
    padding: 3px 10px;
    font-family: 'Lato', sans-serif;
}
.editPage button {
    padding: 8px 50px;
    background-color: #025ca0;
    border: none;
    color: #fff;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
}
.editPage button:hover {
    background-color: #024e88;
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}