/** GENERAL **/
* {
	margin:0;
	padding:0;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-font-smoothing:antialiased;
	-moz-font-smoothing:antialiased;
	-o-font-smoothing:antialiased;
	font-smoothing:antialiased;
	text-rendering:optimizeLegibility;
}
.section {
    text-align: center;
}



/** NAVIGATION **/
.navbar {
    background-color: #025ca0!important;
    font-family: 'Lato', sans-serif;
    font-size: 1.25em;
    position:absolute;
    z-index: 999;
}
.navbar-nav {
    text-align: center;
}
nav a {
    color: white;
}
nav a:hover {
    font-weight: 600;
    color: white;
}
.custom-toggler.navbar-toggler {
    border-color: rgb(255,255,255);
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.nav-item button {
    background-color: #025ca0;
    color: #fff;
    font-family: 'Lato', sans-serif;
    border: none;
    margin: 0 15px;
    width: auto;
}
.nav-item button:hover {
    font-weight: 600;
}



/** HOME PAGE **/
.section-1 {
    margin-top: -150px;
}
.section-1 h1 {
    text-align: center;
    font-family: 'Lato', sans-serif;
    margin: 20px 0;
    letter-spacing: 0.5px;
}
.section-1 button {
    width: 30%; 
    display: block;
    margin: 0 auto;
    border: none;
    background-color: #025ca0;
    color: #FFF;
    font-family: 'Lato', sans-serif;
    font-size: 20px; 
    text-transform: uppercase;
    padding: 10px;
    letter-spacing: 0.75px;
}
.section-1 button:hover {
    background-color: #024e88;
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}
.section-2, .section-3 {
    width: 80%;
    margin: -80px auto 0 auto;
}
.two-third {
    text-align: left;
    width: 65%;
    display: inline-block;
}
.section-2 h2, .section-3 h2 {
    color: #fff;
    font-size: 40px;
    margin-bottom: 30px;
    font-family: "Montserrat", sans-serif;
}
.section-3 h2 {
    color: #000;
}
.section-2 h3, .section-3 h3 {
    color: #fff;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
}
.section-3 h3 {
    color: #000;
}
.section-2 ul {
    padding-left: 20px;
}
.one-third {
    width: 34%;
    display: inline-block;
}
.section-2 .fa-book {
    font-size: 200px
}
.section-3 .fa-laptop {
    font-size: 200px;
    color: #025ca0;
}
.section-4 {
    margin-top: -125px;
}
.section-4 h4 {
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-size: 50px;
    text-transform: uppercase;
    margin-bottom: 50px;
}
.section-4 h5 {
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
}
button.loggedIn {
    width: 20%;
    display: inline-block;
    margin: 0 10px;
}



/** DASHBOARD PAGE **/
.dashboardPage {
    margin: 50px auto;
    width: 75%;
    display: block;
}
.dashboardHeader {
    margin: 10px;
    margin-bottom: 20px;
}
.dashboardPage h1 {
    font-size: 26px;
    font-weight: 600;
    color: #000;
    letter-spacing: 0.5px;
    font-family: 'Lato', sans-serif;
}
.dashboardInformation {
    margin: 10px;
}
.dashboardPage .tab {
    overflow: hidden;
    border: 1px solid #757575;
    background-color: #f1f1f1;
}
.dashboardPage .tab button {
    font-family: 'Lato', sans-serif;
    background-color: inherit;
    text-transform: uppercase;
    letter-spacing: 0.25px;
    padding: 10px 0;
    width: 25%;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
}
.dashboardPage .tab button:hover {
    background-color: #ccc;
}
.dashboardPage .tab button.active {
    background-color: #ccc;
}
.dashboardPage .tabcontent {
    display: none;
    padding: 15px;
    border: 1px solid #757575;
    border-top: none;
}
.dashboardPage h2 {
    font-size: 20px;
    color: #757575;
    font-weight: 600;
    letter-spacing: 0.25px;
    margin-bottom: 20px;
    font-family: "Montserrat", sans-serif;
}
.dashboardPage td.identifier {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    padding-right: 20px;
    padding-bottom: 15px;
}
.dashboardPage td {
    font-family: "Montserrat", sans-serif;
    padding-bottom: 15px;
}
.dashboardPage a {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}
.dashboardPage a:hover {
    text-decoration: none;
    color: #025ca0;
    transition: 0.3s;
}
.dashboardPage .left {
    float: left;
}
.dashboardPage .right {
    float: right;
}
.dashboardPage hr {
    margin-bottom: 30px;
}
.dashboardPage input {
    border: none;
}
.dashboardPage tr.pwToggler {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
}
.dashboardPage input[type="checkbox"] {
    margin-right: 10px;
}